@import url('https://fonts.googleapis.com/css?family=ABeeZee|Bellota+Text|Righteous|Trade+Winds&display=swap');
@media (min-width: 768px){
    .open{
        position: absolute;
        top: 19px;
        left: 50px;
    }
    .page-footer{
        padding: .5%;
        grid-template-columns: 26% 35% 33%;
        grid-template-rows: 3fr;
    }
    .simple-bio{
        
        grid-column: 1 ;
        grid-row: 1;
    }
    .links-div{
        grid-column: 2;
        grid-row: 1;
    }
    .contact-div{
        grid-column: 3;
        grid-row: 1;
    }
    .social-icon{
        grid-column: 1/ span 3;
        grid-row: 2;
    }
    .footer-copyright{
        padding: 2%;
        grid-row: 3;
        grid-column: 1/ span 3;
    }

    .footer-copyright:hover , .contact-header:hover , .contact-div:hover , .links-div:hover ,.simple-bio:hover ,   .linkes-header:hover ,  .footer-header:hover{
        box-shadow: 3px 6px 9px #075151;
        transform: scale(1.005);
        transition:850ms;
      }
      .contact-p:hover{
        margin-left: 3%;
        transition: 870ms;
      }
      .contact-div{
        opacity: 65%;
        text-align: left;
        margin-left: 20%;
      }
}
@media (max-width: 768px){
    .open{
        position: absolute;
        top: 13px;
        left: 40px;
    }
    .page-footer{
        margin-top: 1%;
        padding: .5%;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr;
    }
    .simple-bio{
        margin-top: 1%;
        padding: 1%;
        grid-row: 1;
    }
    .links-div{
        margin-top: 1%;
        border-top-style: inset;
        padding: 1%;
        grid-row: 2;
    }
    .contact-div{
        margin-top: 1%;
        border-top-style: inset;
        padding: 1%;
        grid-row: 3;
    }
    .social-icon{
        margin-top: 1%;
        padding: 1%;
        grid-row: 4;
    }
    .footer-copyright{
        margin-top: 1%;
        padding: 1%;
        grid-row: 5;
    }
    .contact-div{
        margin-top: 1%;
        opacity: 65%;
        text-align: left;
        margin-left: 2%;
      }
}
.page-footer{
    clear: both;
    font-family: 'ABeeZee', sans-serif;
    width: 99%;
    padding: 4% 0 .5% 4%;
    margin-top: 32pc;
    display: grid;
    color: white;
    letter-spacing: 1px;
  
   background: rgba(19, 18, 18, 0.945);;
}

.simple-bio{
    opacity: 70%;
    font-size: 13px;
    text-align: left;
    line-height: 27px;
    .footer-header{
        text-align: center;
        font-size: 21px;
        margin: .5%;
    }
}
.links-div{
    opacity: 65%;
    .linkes-header{
        text-align: center;
        font-size: 21px;
        margin: 0;
        padding: 0;
    }
    ul {
        margin-left: 27%;
        font-size: 16px;
        line-height: 29px;
        text-align: left;
        list-style: none;
        li a{
            cursor: pointer;
            color: rgb(11, 126, 126);
            text-decoration: none;
        }
        li a:hover{
            color: white;
            margin-left: 3%;
            transition: 870ms;
        }
    }
}
.contact-div{
    opacity: 65%;
    text-align: left;
    .contact-header{
        font-size: 21px;
        margin: 0;
        padding: 0;
    }
    p , i {
        cursor: pointer;
       font-size: 13px; 
       text-align: left;
    }
}
.social-icon{
    border-top-style: inset;
    padding: 1%;
    width: 100%;
    margin: auto;
    text-align: center;
}

.footer-copyright{
    border-top-style: inset;
    opacity: 70%;
    font-size: 15px;
    text-align: center;
    a{
        cursor: pointer;
         color: #009688;
        text-decoration: none;
    }
    a:hover{
            color: white;
            transform: scaleX(1.3);
            transition: 870ms;
    }
}
.fa {
    padding: 1.2%;
    font-size: 21px;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
      box-shadow: #3B5998;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #c95e17;
    color: white;
  }
  .div-fix{
    clear: both;
  }
  .page-footer {
    clear: both;
    font-family: 'ABeeZee', sans-serif;
    width: 99%;
    padding: 4% 0 .5% 4%;
    margin-top: 32pc;
    display: grid;
    box-shadow: 2px 2px 2px 2px #ffffffa6;
    color: white;
    letter-spacing: 1px;
    background: rgba(1, 1, 1, 0.95);
}
