html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  // background-image: url("../../logo.png");
  // background-repeat: no-repeat;
}

* {
  box-sizing: border-box;
}

// submit page
.outerForm {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: black;
  border: 5px solid #00928596;
}

.logoImg {
  margin: 1px auto;
}

// our project name
.foodName {
  color: white;
  font-size: 2.5em;
  padding-bottom: 15px;
  border-bottom: 5px solid white;
  margin-bottom: 20px;
  font-weight: bolder;
}

// submit button
.submitB {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  // background: #00928596;
  background: black;
  padding: 20px;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 10px;
  font-size: 19px;
  cursor: pointer;
  border: solid 2px #ffffff8c;
  box-shadow: 1px 2px 5px 1px #00928596;
}

.submitB:hover {
  background-color: #00928596;
}

.submitB:focus {
  outline: 0;
}

// name and room inputs
.name,
.room {
  border-radius: 0;
  padding: 10px 20px;
  width: 100%;
  font-weight: bold;
  color: black;
  font-weight: bold;
}

.name:hover {
  background-color: #9af1ea96;
}

.room:hover {
  background-color: #9af1ea96;
}

// innerForm
.innerForm {
  // text-align: left;
  // height: 100vh;
  // align-items: center;
  // background-color: #00928596;
  // border: 5px solid black;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 8px;
  height: 80%;
  width: 100%;
}

.msgOn {
  display: flex;
  justify-content: space-between;
}

// message input and message button  
.msgSub {
  display: flex;
 

  // width: 100%;
  margin-top: 315px;
  margin-left: auto 5px;
  position: relative;
}

// message input 
.msgInput {
  border-radius: 0;
  font-size: 1.2em;
  color: black;
  width: 80%;
  padding: 15px;
  font-family: cursive;
  border: solid 2px black;
  font-family: sans-serif;
}

// message button 
.msgSend {
  color: #fff;
  text-decoration: none;
  background: black;
  padding: 15px;
  border-radius: 5px;
  border: none;
  width: 20%;
  font-size: 14px;
  cursor: pointer;
  border: solid 2px #ffffff8c;
  box-shadow: 1px 2px 5px 1px #00928596;
  font-family: cursive;
  display: inline-block;
}

.msgSend:hover {
  background: #00928596;
}

// the words
.words {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: #00928596;
}

.words img {
  height: 13%;
  width: 13%;
}
.online {
  color: green;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-right: 10px;
  font-size: larger;
  // text-transform: uppercase;
}

.userName {
  font-weight: bold;
  color: rgb(2, 51, 51);
  font-family: 'Roboto', sans-serif;
  display: inline;
}
